<div class="container-fluid  bg-light">
    <div style="margin: 13%;">
        <div class="row" style="align-items: center;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8"><br><br>
                <h1 class="mt-8 p-2 bg-primary text-white" style="align-items: center; text-align: center;">Forgot
                    Password</h1>
                <br>
                <form action="/verifyEmail" method="post">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="Email" id="Email" class="form-control" name="Email"
                                placeholder="Enter your email" value="Email">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"> <input class="btn btn-primary" style="margin:  0% 2% ;" type="submit"
                            value="Get Otp" /></div>
                    <div class="col-md-6">
                        <p style="padding-left: 70%; padding-top: 2%;"><a href="/" class="forget"><b>Cancle</b></a></p>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>